@import "./variables.scss";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: var(--black);

  font-family: Cera Pro;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input {
  border: none;
  &:focus {
    outline: none;
  }
}

button {
  font-family: Cera Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
}

button:focus,
button:active,
a:focus,
a:active {
  outline: none;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.h1 {
  font-size: 40px;
  font-weight: 500;
}

.h2 {
  font-size: 24px;
  font-weight: 500;
}
